
// "Freckle Face"
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
// "Bebas Neue"
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
// "Spartan"
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
// "Arvo "
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');
/* SCSS HEX */
$prussian-blue: #003049ff;
$maximum-red: #d62828ff;
$orange: #f77f00ff;
$maximum-yellow-red: #fcbf49ff;
$lemon-meringue: #eae2b7ff;

.header{
  padding-top:15px;

  .header-container{
    font-family: "Bebas Neue";
    letter-spacing:2px;
    width: 100%;
    z-index:2;
    display:grid;
    grid-template-columns:30% 60%;
  
    .link-container{
      margin-top: 2.4vw;
      list-style-type: none;
      display:flex;
      align-content: center;
      justify-content:space-around;

      li{
        font-size:3vw;
        display: inline-block;
        white-space: nowrap;
         
        a{
          color:$lemon-meringue;
          text-decoration: none;

        }
        a:hover{
          color:$maximum-red;
        }
      }
    } 
  }
} 

// ###################   logo styling 
.logo-container{
  margin-left: 2rem;
  font-family: "Freckle Face";
  display: flex;
  text-decoration: none;
   
  span{
    font-size:5.5vw;
    text-shadow:"2px 3px #003049ff";
    display:inline-block;
  }
}

// ################### search bar styling 
.search-bar{
  // background-color:blue;
  align-self:center;
  order: 3;
}

// ###################################  landing page 
.landing-container{
  .landing-img{
    background-image: url("/images/landing-img.jpg");
    position:absolute;
    width:100%;
    max-height:100vh;
    z-index:-1;
  }

  .landing-over-img{
    // font-family: "Spartan";
    font-family:"Arvo";
    color: $lemon-meringue;
    text-shadow: 2px 2px 1px $prussian-blue;
    font-size: 2vw;
    margin: 11vw 0 0 6vw;
    position: relative;

    a{
      color:$lemon-meringue;
    }
    a:hover{
      color:$maximum-yellow-red;
    }
    a:visited {
      color: $maximum-yellow-red;
    }
  }

  // END LANDING-OVER-IMG 
  .landing-content{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    width:95%;
    max-width:100vw;
    margin: 0 auto;
    border: 5px dashed blue;
    font-size: 2vw;

    .content-image, .content-text{
      grid-row: 1 / 3;
    }

    .content-image{
      grid-column: 1 / 3;
      z-index:1;
    }

    .content-text{
      grid-column: 3 / -1;
      background-color:#fcbf49ff;
      justify-self:end;
      align-self:center;
      z-index:2
    }

    &:nth-child(2) {
      .content-image, .content-text{
        grid-row: 3 / -1;
      }

      .content-image{
        grid-column: 3 / -1;
      }
  
      .content-text{
        grid-column: 1 / 4;
        // background-color:#fcbf49ff;
        justify-self:end;
        align-self:center;
        z-index:2
      }
    }
  }

}

// #################   button with hover wipe 
.btn-form{
  margin:4rem 0 4rem 20rem;
}

// thanks to https://codepen.io/forkintheroad/pen/xxGaXbK 
button.landing-btn{
  background: transparent;
  color: $lemon-meringue;
  border: 2px solid $lemon-meringue;
  box-shadow: 2px 2px 2px $maximum-yellow-red;
  font-size: 1.25rem;
  letter-spacing: 2px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

@media only screen and (max-width: 1000px){
  button.landing-btn{
     display:none;
  }
}

button.lb-2{
  overflow: hidden;
  position: relative;
}

button.lb-2:hover{
  color: black;
}

button.lb-2:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background: $lemon-meringue;
}

button.lb-2:hover:after,
button.lb-2:active:after {
  height: 100%;
}

